.display {
  border-radius: 20px;
  width: calc(100vw - 300px);
  height: calc(100vh - 300px);
  background-color: lightcoral;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}
